<nav class="bg-blue-600 p-3 text-white flex justify-center space-x-10">
  <a routerLink="/login" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
    class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
    Login
  </a>
  <a routerLink="/register" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
    class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
    Register
  </a>
  <a routerLink="/todo" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
    class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
    Todo
  </a>
  <a routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page"
    class="px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">
    Home
  </a>
</nav>
<router-outlet></router-outlet>
